<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">IDP </a>
    </div>
    <ul class="nav navbar-nav">
      <li ><a href="#">Home</a></li>
      <li ><a  routerLink='galary'> Galary </a></li>
      <li><a routerLink='loan'>Loan </a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink='signup'><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a routerLink='login'><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
  <!-- <div>
    <h1> Data Binding ........</h1>
    <form>
      Name: <input type="text" #myname id="myname"><br>
      pass: <input type="text" #mypass id="mypass"><br>
    
      <input type="button"  value="Store" (click)="abc(myname.value,mypass.value)">
      <input type="button"  value="Login" (click)="mylogin(myname.value)">
      <input type="button"  value="Delete " (click)="userdelete()">
      <h1 > </h1>
    </form>
  </div> -->

  <!-- <app-databind></app-databind> -->

  <app-c1></app-c1>
<hr>
<app-c2></app-c2>
<hr>
<app-c3></app-c3>


  <router-outlet></router-outlet>






















<!-- <app-loan></app-loan> -->
<!-- 
<div style="width: 50%;float: left;height: 500px;background-color: burlywood;">
  <app-register></app-register>
</div>


<div style="width: 50%; background-color: yellow;float: right;height: 500px;">ng 
  <app-login></app-login>
</div> -->

<!-- 
 <div class="col-md-2" style="background-color: chartreuse;">
  <h1>Hi </h1>
 </div>

 <div class="col-md-8" style="background-color: cornsilk;">
  <h1>Hello </h1>
 </div>

 <div class="col-md-2" style="background-color: cyan;">
  <h1>bye </h1>
 </div> -->